In [8]:
#Pandas is a open-source library in python used for data-manipulation.
#Series Object is used for 1-D arrays
import pandas as pd
data=[1,2,'Saksham','@!#345']#Remember Pandas can have strings and numbers both simultaneously as seen in comparison with NumPy.
a=pd.Series(data, index=['p','q','r','s']) #Remember the form. By default the numbers instead of p,q.. are 0 1 2 3 etc.
print(a)
print(type(a))
print(a['p':'r'])# remember right end is NOT neglected.
#One more thing is that in the similar way you can convert Dictionaries, scalars to Series Objects.

p          1
q          2
r    Saksham
s     @!#345
dtype: object
<class 'pandas.core.series.Series'>
p          1
q          2
r    Saksham
dtype: object

In [9]:
#Data Frame
data=[[1,2,3,4,5],[6,7,8,9,10]]
a=pd.DataFrame(data)
print(a)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [11]:
data={'a':[1,2,3,4,5], 'b':[6,7,8,9,10]}
c=pd.DataFrame(data)
print(c)

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [13]:
#Real-World Example
data={'fruits':['apple','mango','banana'], 'count':[10,12,16]}
table=pd.DataFrame(data, index=['A','B','C'])
print(table)

   fruits  count
A   apple     10
B   mango     12
C  banana     16

In [15]:
#Creating a DataFrame from a series
data=pd.Series([6,12], index=['a','b'])
data1=pd.DataFrame([data])
print(data1)

   a   b
0  6  12

In [16]:
#Creating a DataFrame from NumPy
import numpy as np
data=np.array([['a','b'],[6,12]])
df=pd.DataFrame({'A':data[:,0],'B':data[:,1]})
df

   A   B
0  a   b
1  6  12

In [3]:
#How to rename columns
import pandas as pd
data=[1,2]
df=pd.DataFrame(data)
df.rename(index={0:'a',1:'b'},inplace=True)
df.columns=['a']
df

   a
a  1
b  2

In [5]:
import pandas as pd
data=pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
print(data)

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
data1=pd.DataFrame({'A':[1,2,3],'C':[10,11,12]})
print(data1)

   A   C
0  1  10
1  2  11
2  3  12

In [8]:
pd.concat([data,data1]) #Outer Join

   A    B     C
0  1  4.0   NaN
1  2  5.0   NaN
2  3  6.0   NaN
0  1  NaN  10.0
1  2  NaN  11.0
2  3  NaN  12.0

In [13]:
#Inner Join
pd.concat([data,data1],axis=1,join='inner')

   A  B  A   C
0  1  4  1  10
1  2  5  2  11
2  3  6  3  12

In [16]:
#pd.merge(data,data1,how='inner')
#pd.merge(data,data1,how='left/right')

In [ ]:
#Clear this Merge and Concate topics as soon as possible
#Real World Examples: