In [1]:
int a=10

SyntaxError: invalid syntax (<ipython-input-1-94a2776b5eb5>, line 1)

In [7]:
a=10
name= 'john'

In [8]:
a=2000.23

In [12]:
a=10
b="Saksham"
c=2000.232
print(a)
print(b)
print(c)

10
Saksham
2000.232

In [15]:
a=b=c=200
x,y,z=20,30,40
print(c,z)

200 40

In [2]:
_name1='Saksham'
_name2="Khyati"
_name3='''
Hey there!
This is Saksham Zanjari, working on a project named RL to Finance .'''
print(_name2,_name3)

Khyati
Hey there!
This is Saksham Zanjari, working on a project named RL to Finance .

In [21]:
var=10
var+=10 #var=var+10
print(var)

20

In [27]:
a = 10<10 and 2>-1
print(a)

False

In [28]:
10>>2

2

In [29]:
10<<2

40

In [30]:
10<<3

80

In [32]:
x=10
x is not 10

<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-32-1d685ca8e16a>:2: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  x is not 10

False

In [37]:
pets={'lion','dog','cat'}
'horse' in pets

False

In [38]:
a=10
name='Saksham'
salary=200020.23
print(type(a))
print(type(name))
print(type(salary))

<class 'int'>
<class 'str'>
<class 'float'>

In [43]:
str1= "Hello World"
str2= 'Khyati'
print(str1[10])
print(str2[5])
#Extract Hello from Hello World
print(str1[0:7])

d
i
Hello W

In [10]:
_str1="Pankaj Pooja Zanjari"
_str1.find(' Zan')

12

In [11]:
name='Saksham'
name.replace('sham','mash')

'Sakmash'

In [12]:
name.replace('sham','')

'Sak'

In [1]:
name='saksham khyati pankaj pooja'
name.split(';')

['saksham khyati pankaj pooja']

In [19]:
str3="Intellipaat"
str3.count('i')

1

In [23]:
str4 = str3.upper() #stores INTELLIPAAT
str4.count('I')

2

In [24]:
str5='As@20zanAJ'#note the convention of writing this datatype
min(str5)

'0'

In [6]:
#concatenation
mytuple=('a','B','@',23)
mytuple1=('#','A','s')
mytuple+=mytuple1
print(mytuple)

('a', 'B', '@', 23, '#', 'A', 's')

In [29]:
mytuple*2

('a', 'B', '@', '23', '#', 'A', 's', 'a', 'B', '@', '23', '#', 'A', 's')

In [32]:
name=['Saksham','Khyati','Pankaj','Pooja']
name[0] #Indexing

'Saksham'

In [33]:
name[1:3] #Slicing

['Khyati', 'Pankaj']

In [11]:
#Concatenation in Lists
mylist=['a','A',2000.21,10,'@']
mylist1=['Saksham','#',1008]
mylist+=mylist1
print(mylist)

['a', 'A', 2000.21, 10, '@', 'Saksham', '#', 1008]

In [10]:
#Repetation
mylist1*3
#Slicing same as Tuple
mylist[1:5]
#Remember output sirf ek hi statement ka aaya.Think!

['A', 2000.21, 10, '@']

In [12]:
#Appending
mylist.append(10)
print(mylist)

['a', 'A', 2000.21, 10, '@', 'Saksham', '#', 1008, 10]

In [13]:
#Extending
mylist3=['Pankaj','@!A34']
mylist.append(mylist3)
print(mylist)

['a', 'A', 2000.21, 10, '@', 'Saksham', '#', 1008, 10, ['Pankaj', '@!A34']]

In [14]:
mylist.insert(1,"Pooja") #Inserted Pooja at 1st array element
print(mylist)

['a', 'Pooja', 'A', 2000.21, 10, '@', 'Saksham', '#', 1008, 10, ['Pankaj', '@!A34']]

In [2]:
#Dictionaries
myDict={1:'Saksham', 2:'Apple'} #1,2 are called keys, Saksham,Apple are called Values
#Keys can be string as well.
myDict[1] #Accessing a Dictionary

'Saksham'

In [7]:
len(myDict) #Length of a Dictionary

2

In [10]:
myDict.keys()

dict_keys([1, 2])

In [9]:
myDict.values()

dict_values(['Saksham', 'Apple'])

In [12]:
#Sets
S1={1,'Saksham','Khyati'}
S2={2,'Pooja','Saksham'}
S1&S2

{'Saksham'}

In [13]:
S1-S2

{1, 'Khyati'}

In [14]:
S1|S2

{1, 2, 'Khyati', 'Pooja', 'Saksham'}

In [17]:
#PractiseProblems
test1='PythonProgramming'
print(test1[2:6])

thon

In [18]:
#FlowControls
fruits=['apple','mango','chickoo']
for x in fruits:
    print(x)

apple
mango
chickoo

In [21]:
a=1
while a<5:
    print(a) 
    a+=1

1
2
3
4

In [16]:
def my_func(fname, lname):
    print(fname)
my_func('Saksham', 'Zanjari')

Saksham

In [18]:
def my_function(x):
    print(x+10)
my_function(30)

40

In [19]:
fruits=('apple','banana','cherry')
if 'mango' in fruits:
    print(3+4)
else:
    print(2*2)

4

In [22]:
r=lambda a,b,c:a+b+c
print(r(2,3,4))

9

In [23]:
def myfunc(n):
    return lambda a:a*n
mydoubler=myfunc(2)
print(mydoubler(11))

22

In [24]:
#Classes and Objects
class MyClass: x=1
obj1=MyClass()
print(obj1.x)

1

In [82]:
#File_Handling
f=open("Filetolearnpython1.txt","x")

In [83]:
f=open("Filetolearnpython1.txt","w")
print(f.write("Hey Everyone, This is Saksham Zanjari. I am trying to leran Python."))

67

In [84]:
f=open("Filetolearnpython1.txt","a")
print(f.write("Trying to check whether we can append or not. lmao"))

50

In [85]:
f=open("Filetolearnpython1.txt","r")
print(f.read())

Hey Everyone, This is Saksham Zanjari. I am trying to leran Python.Trying to check whether we can append or not. lmao

In [86]:
f=open("Filetolearnpython1.txt","r")
print(f.readline()) #this reads a single line.

Hey Everyone, This is Saksham Zanjari. I am trying to leran Python.Trying to check whether we can append or not. lmao

In [87]:
f=open("Filetolearnpython1.txt","r")
print(f.read(5))

Hey E

In [88]:
f.close()

In [ ]:
import os
os.remove("Filetolearnpython1.txt")#Used to delete the file